/*Parte de la barra de menu*/
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #111;
}

.navbar ul li.active a {
    background-color: #555;
}

#btnIngresar {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnIngresar:hover {
    background-color: #111;
}












/* Parte del FOOTER*/
footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-navigation li {
    margin-right: 20px;
}

.footer-navigation a {
    color: #333;
    text-decoration: none;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-social a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

